.header


.logoBackground
  height 100px

.storeInfo
  padding-top 30px

.title 
  margin: 0 auto
  width 72vw
  overflow hidden
  white-space: nowrap
  text-overflow ellipsis

.bulletin
  margin 8px auto 10px
  width 80vw
  overflow hidden
  white-space: nowrap
  text-overflow: ellipsis
  font-size 11px
  color #999