.logoBackground
  position relative
  height (10000 / 375)vw
  background: linear-gradient(0deg,hsla(0,0%,100%,0),rgba(0,0,0,.5)), url('../../asset/logoBackground.webp') no-repeat center / cover;

.logoWrap
  position absolute
  left 50%
  bottom -15px
  width 20vw
  height 20vw
  transform translateX(-50%)

.logo
  width 100%
  height 100%
  border-radius .8vw
  box-shadow: 0 0 0.4vw 0 rgba(0,0,0,.2)

.storeInfo
  padding-top (3000 / 375)vw

.titleWrap
  margin: 0 auto
  width 72vw

.title 
  margin 0 auto
  font-size 18.5px
  overflow hidden
  white-space: nowrap
  text-overflow ellipsis

.subTitle
  margin-top 6px
  color #666
  font-size 11px
  text-align center
  span:not(:last-child)
    margin-right 13px

.bulletin
  margin 8px auto 10px
  width 80vw
  overflow hidden
  white-space: nowrap
  text-overflow: ellipsis
  font-size 11px
  color #999